.item-pic{
    display: none;
}

.item-count{
    color: grey;
}
.whole-item{
    width: 100%;
    display: grid;
    row-gap:2.5rem;
    column-gap: 0.8rem;
    grid-template-columns: 1fr 1fr; 
    margin-top: 1rem;
    padding: 1rem;
    
    img{
        width:90%;
        height: 100%;
        
    } 
    h4{
        text-align: center;
        margin-top: 1rem;
        padding: 0 0.5rem;
    }
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price{
    color: grey;
}
.made-by{
    margin-top: 1rem;
}
@media (min-width: 768px) {
    .item-pic{
        display: flex;
    }
    .whole-item{
        width: 100%;
        display: grid;
        row-gap:2rem;
        column-gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr; 
        margin-top: 1rem;
        padding: 1rem;
        img{
            width:100%;
            height: 100%;
            
        }
        h4{
            margin-top: 6rem;
        }
    }
    /* .shop-heading{
        padding-bottom: 2rem;
        font-size: 1rem;
    }
    .mens-heading{
        margin-top: 2rem;
    } */
    .item-list{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .item-list .item-border {
        border-bottom: 2px solid black; /* Adds a border under each list item */
        padding-bottom: 0.5rem; /* Optional: Adds some spacing for a cleaner look */
        margin-bottom: 0.5rem; /* Optional: Adds space between each item */
        transition: border-color 0.3s ease;
    }
    
}
