*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.outer-container{
    font-family: 'Roboto', 'Noto', sans-serif;
    max-width: 1440px;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto; /* Center content on larger screens */
    overflow-x: hidden;
    object-fit: contain; 
}
.main-container{
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain; 
    padding: 0;

}
.heading{
    display: flex;
    position: relative;
    padding: 1.5rem;
    justify-content: center;
    width:100%;
    height:3vh;
    height: auto;
    /* color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    margin: 1.5rem 2rem  1rem ;
    margin-bottom: 1.4rem; */
}
.cart-icon{
    cursor: pointer;
    position:absolute;
    top:1.3rem;
    right:1.5rem;

}

.three-line{
    /* width: 40vw; */
    cursor: pointer;
    position:absolute;
    top:1.2rem;
    left:1.5rem;
    /* display: flex; */
    /* align-items: center; */
}
.heading-cart{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shop-heading{
    cursor: pointer;
    font-size: 0.9rem;
}

.three-line-img{
    display: inline;
    width: 1.2rem;  
    height: 1.5rem; 
    /* margin-top: -0.2rem; */
}
.cart-img{
    width:1.2rem;
    height: 1.2rem;
}
.item-list{
    display: none;
   
}
.mens-heading{
    margin-top: 0.8rem;
    font-size: 1rem;

}
.shop-button-div{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.demo-button-div{
    margin-top: 0.8rem;
}
.shop-button{
    width:10rem;
    height: 2.5rem;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}
.demo-button{
    width:7.5rem;
    height: 2.4rem;
    color: white;
    background-color: black;

}
.t-shirt-div{
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    margin: 0;
}
img{
    object-fit: cover;
    height: 35vh;
}

.Mens-tshirt{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ladies-tshirt{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.Mens-tshirt button{
    width:8rem;
}
.ladies-tshirt button{
    width:8rem;
}
    
.m-tshirt-img{
    width:100%;
}
.l-tshirt-img{
    width:100%;
} 
.made-by{
    color: grey;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -80vw; 
    width: 80vw; 
    height: 100vh;
    background-color:white;
    transition: left 0.3s ease;
    padding-top: 2rem;
    z-index: 2;
}

.sidebar .item-list-sidebar {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 1rem;
    font-size: 0.8rem;
    color: grey;
    gap: 1rem;
}
.item-list-sidebar li{
    margin-bottom: 1.5rem;
}
.sidebar-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 80vw; 
    width: 20vw; 
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    z-index: 1; 
}

.image-link {
    display: inline-block; 
    text-decoration: none; 
    color: black;
}
.product-image {
    width: 100%; 
    display: block; 
}
li{
    cursor: pointer;
}
.home-image{
    width:100%;
    height:240px;
    object-fit: cover;
}

@media (min-width: 768px) {
    
    .item-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 2vw;
        margin-bottom: 2rem;
    }
    .three-line-img{
        display: none;
    }
    /* .three-line{
        width: 49vw;
    } */
    .heading-cart{
        width: 51vw;
    }
    .t-shirt-div{
        width: 80%;
        .img-url {
      width: 100%;
    }
    }
    .Mens-tshirt, .ladies-tshirt {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1; /* Ensure both images take equal space */
    }
    .img-url{
       
        width:80%;
        width:min(100%,1440px);
       
        img{
            width: 100%;
        }
    }
    .home-image {
        height: 320px;
        width:min(100%,1440px);
        width: 80%;
      }
      .t-shirt-div{
        
        width:80%;
        width: min(100%, 1440px);
      }
   
}

